<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591423118993-ut1qqmu6546iob5p2kb1rd3i5f11ctgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591423118993-ut1qqmu6546iob5p2kb1rd3i5f11ctgg</string>
	<key>API_KEY</key>
	<string>AIzaSyA38O6EyVR2LWNx50ucoTVwy-2Bzr4XhEM</string>
	<key>GCM_SENDER_ID</key>
	<string>591423118993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mariasegura</string>
	<key>PROJECT_ID</key>
	<string>mariasegura-c47f4</string>
	<key>STORAGE_BUCKET</key>
	<string>mariasegura-c47f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591423118993:ios:a39c7d8a10c24789f0a930</string>
</dict>
</plist>